#container{
  width: 950px;
  margin: 0 auto;
  background-color: #0c2149;
  padding:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#maincontent{
  text-align:center;
  background-color: white;
}
#titletext{
  display: inline-block;
}
#nav{
  vertical-align: top;
  text-align: right;
  margin-left: 100px;
  display: inline-block;
  width: 510px;
  word-spacing: 30px;
  font-size: 20px;
  margin-top: 25px;
}
#nav > a{
  text-decoration: none;
  color: white;
}
h1{
  color:white;
  font-size:30px;
}
span{
  color: #2f92d4
}
#picture{
  margin-top: 25px;
  width: 900px;
}
h3{
  color:white;
  font-size: 16px;
}
.icon{
  width: 50px;
  display:inline-block;
}
p{
  color:white;
}
button{
  width:150px;
  height:40px;
  color: white;
  font-size: 14px;
  background-color: #76c8ff;
  border-radius: 10px;
  border: 0;
}
#learn{
  font-size:14px;
  background-color :white;
  color: #0c2149;
  border: 0;
  text-align:left;
}
#dinfo{
  margin-top: 14px;
}
#iinfo{
  margin-top:14px;
}
.subcontent{
  background-color:#2f92d4;
  display:inline-block;
  width: 264px;
  padding:10px;
  vertical-align: top;
  text-align:left;
  margin: 10px;
}
.subcontent > h3{
  display: inline-block;
  vertical-align: top;
  margin-left:10px;
}
.whitecontent{
  background-color:white;
  display:inline-block;
  width: 285px;
  vertical-align:top;
  text-align:left;
  margin:10px;
}
.whitecontent p{
  color:#0c2149;
}
.whitecontent h3{
  color:#0c2149;
  font-size: 16px;
}
#testimonial{
  background-color:#a3c2f1;
  height: 100px;
  padding:20px;
}
#testimonial > p{
  font-size:15px;
  font-style: italic;
  text-align: center;
  color: #0c2149;
}
#footer{
  height:50px;
  background-color: #a3c2f1;
  text-align: center;
  word-spacing: 40px;
  padding-top: 10px;
}
#footer a{
  text-decoration: none;
  color:#2f92d4;
}
