<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="wrapper">
        <form action='/results' method='post'>
            <p>Your Name:
                <input type='text' name='name'>
            </p>
            <p>Dojo Location:
                <select name="dojo">
                    <option value="la">LA</option>
                    <option value="seattle">Seattle</option>
                    <option value="chicago">Chicago</option>
                </select>
            </p>
            <p>Favorite Language:
                <select name="language">
                    <option value="python">Python</option>
                    <option value="javascript">Javascript</option>
                    <option value="ruby">Ruby</option>
                </select>
            </p>
            <p>Comment: (Optional)</p>
            <textarea name='comment'></textarea>
            <input type='submit' value='button'>
        </form>
    </div>
</body>
</html>