.box{
    background-color: red;
    border: 2px solid black;
    width: 100px;
    width: 100px;
    text-align: center;
}
#box2{
    background-color: green;
    border: 2px solid black;
    width: 100px;
    width: 100px;
    text-align: center;
}
#box2 > p{
    color: white;
}
.box > p{
    color: white;
}