.box{
    border: 2px solid black;
    width: 300px;
    height: 150px;
    display: inline-block;
    text-align: center;
}
#box2{
    border: 2px solid black;
    width: 600px;
    height: 150px;
    overflow: scroll;
}