<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Counter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h3>Counter</h3>
    <p>{{ count }} times</p>
    <form action='/add2' method='post'>
        <input type='submit' name ='add2' value='Add 2'>
    </form>
    <form action='/reset' method='post'>
        <input type='submit' name ='reset' value='Reset'>
    </form>
</body>
</html>