<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disappearing Ninja</title>
</head>
<body>
    <img src="{{ url_for('static', filename='images/'+turtleimg) }}">
</body>
</html>