*{
  margin: 0px;
  padding: 0px;
}
#wrapper{
  width: 950px;
  background-color: silver;
  margin: 10px auto;
  padding: 10px;
}
#header{
  height: 150px;
  background-color: green;
}
#navigation{
  height: 300px;
  width: 230px;
  background-color: blue;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
}
#main_content{
  height: 400px;
  width: 700px;
  margin-top: 10px;
  background-color: red;
  margin-left: 15px;
  display: inline-block;
  vertical-align: top;
}
.subcontents{
  height: 190px;
  width: 190px;
  background-color: yellow;
  margin: 10px;
  display: inline-block;
}
#advertisement{
  height: 120px;
  width: 620px;
  background-color: purple;
  margin: 10px;
}