#container{
  background-color: #0f4c70;
  width: 970px;
}
#textsize{
  text-align: right;
}
#photobar{
  text-align: right;
  display: inline-block;
}
#photo{
  display: inline-block;
}
#search{
  display: inline-block;
  text-align: right;
  width: 300px;
  height: 50px;
  margin-left: 280px;
  background-color: gray;
  border-radius: 10px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align:top;
}
#searchbar{
  margin: 10px;
  width: 200px;
  height: 30px;
  text-align: center;
  color: gray;
}
#submit{
  background-color: #0f4c70;
  height: 30px;
  border-radius: 5px;
  color: white;
}
#logo{
  height:100px;
}
#navbar{
  background-color: #64c6ff;
  text-align: center;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 900px;
  margin-left: 40px;
}
a{
  color: white;
}
h1{
  display: inline-block;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 0px;
}
#content{
  padding-left: 30px;
}
#leftcontent{
  display: inline-block;
  width: 300px;
  padding-top: 25px;
  vertical-align: top;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
#rightcontent{
  display: inline-block;
  width: 500px;
  vertical-align: top;
  text-align: center;
}
p{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}
#subcontent{
  display: inline-block;
  width: 970px;
  text-align: center;
}
#subcontentleft{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width:400px;
}
#subcontentright{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width:400px;
}
.yellowlink{
  color: yellow;
  margin: 3px;
}
.yellowtext{
  color: yellow;
  padding: 3px;
  font-style: italic;
  font-size: 14px;
}
#blacktext{
  color: black;
}
h6{
  width: 400px;
  height: 4px;
  background-color: #64c6ff;
}
.bluelink{
  color: #64c6ff;
  font-size:14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#footer{
  background-color: #0f4c70;
  padding-top:25px;
  width: 970px;
  height: 75px;
  text-align: center;
}
h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:14px;
}
.line{
  background-color: yellow;
  width: 300px;
  height: 2px;
}
.arrow{
  list-style-type: circle;
  color : yellow;
  text-align: center;
  list-style-position: inside;
}
.blacktext{
  color: black;
}
hr{
  background-color: #0f4c70;
  height: 3px; 
}