<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h3>Form</h3>
    <form action='' method='post'>
        <label for="name">Name:</label><input type='text' name='name'>
        <label for="email">Email:</label><input type='text' name='email'>
        <input type='submit' value='create user'>
    </form>
</body>
</html>
