<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Color Picker</title>
</head>
<body>
    <body bgcolor="{{ bgcolor }}">
    <h1>Enter your color values below:</h1>
    <form action="/" method="post">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="red">Red:</label>
                    </td>
                    <td>
                        <input type="number" name="red" min="1" max="255">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="green">Green:</label>
                    </td>
                    <td>
                        <input type="number" name="green" min="1" max="255">
                    </td>
                </tr>
                    <td>
                        <label for="blue">Blue:</label>
                    </td>
                    <td>
                        <input type="number" name="blue" min="1" max="255">
                    </td>
                </tr>
            </tbody>
        </table>
        <p>*All values must be between 1 and 255!</p>
        <input type='submit' value='Show my color!'>
    </form>
</body>
</html>