<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>My Registration Form</h1>
    <form action="/" method="post">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="first_name">First Name:</label>
                    </td>
                    <td>
                        <input type="text" name="first_name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="last_name">Last Name:</label>
                    </td>
                    <td>
                        <input type="text" name="last_name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">E-Mail:</label>
                    </td>
                    <td>
                        <input type="text" name="email">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password:</label>
                    </td>
                    <td>
                        <input type="text" name="password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="confirm_password">Password Confirm:</label>
                    </td>
                    <td>
                        <input type="text" name="confirm_password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="birth_date">Birth-date:</label>
                    </td>
                    <td>
                        <input type="date" name="birth_date">
                    </td>
                </tr>
            </tbody>
        </table>
        <input type='submit' value='Submit'>
    </form>
</body>
</html>