span{
  color: #727DF0;
}
#wrapper{
  background-color:#1A355A;
  width: 970px;
  padding: 10px;
}
#header{
  background-color: #D32C39;
  border-radius: 10px;
  height: 50px;
  display : flex;
  align-items : center;
  padding-left: 5px;
  margin-bottom: 10px;
}
#footer{
  background-color: #5D6672;
  border-radius: 10px;
  height: 50px;
  display : flex;
  align-items : center;
  padding-left: 15px;
  margin-top: 10px;
}
#navigation{
  background-color: #1F7B88;
  width: 230px;
  padding-top: 5px;
  padding-left: 5px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
}
#subcontent{
  background-color: #0E1821;
  width: 700px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}
h1{
  color: #C6DDEF;
}
h2{
  color: #C6DDEF;
}
p{
  color:#C6DDEF;
}
a{
  color: #53E4E7;
}
li{
  color:#C6DDEF;
}