<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Dojo Survey</title>
</head>
<body>
    <div id="wrapper">
        <h3>Submitted Info:</h3>
        <p>Name: {{ name }}</p>
        <p>Dojo Location: {{ dojo }}</p>
        <p>Favorite Language: {{ language }}</p>
        <p>Comment: {{ comment }}</p>
        <a href="/"><input type="button" value="Go Back"></input></a>
    </div>
</body>
</html>