<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask Bokeh</title>
</head>
<body>
    <h1>Plot Your Points:</h1>
    <form action="/" method="post">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="x_axis">x-axis:</label>
                    </td>
                    <td>
                        <input type="text" name="x_axis">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="y_axis">y-axis:</label>
                    </td>
                    <td>
                        <input type="text" name="y_axis">
                    </td>
                </tr>
            </tbody>
        </table>
        <input type='submit' value='Plot'>
    </form>
</body>
</html>