<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Great Number Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h3>Welcome to the Great Number Game!</h3>
    <p>I am thinking of a number between 1 and 100<br>Take a guess</p>
    {% if string == "" %}
        <form action='/' method='post'>
            <p><input type="text" name="guess"></p>
            <p><input type='submit' name='submit' value='submit'></p>
        </form>
    {% elif string == "Too low!" %}
        <div class="box">
            <p> {{ string }} </p>
        </div>
        <form action='/' method='post'>
            <p><input type="text" name="guess"></p>
            <p><input type='submit' name='submit' value='submit'></p>
        </form>
    {% elif string == "Too high!" %}
        <div class="box">
            <p> {{ string }} </p>
        </div>
        <form action='/' method='post'>
            <p><input type="text" name="guess"></p>
            <p><input type='submit' name='submit' value='submit'></p>
        </form>
    {% elif string == "yay you guessed correctly!" %}
        <div id="box2">
            <p> {{ number }} was the number!</p>
            <p><a href="/reset"><input type="button" value="Play Again!"></input></a></p>
        </div> 
    {% endif %}
</body>
</html>