.green{
    border: 2px solid black;
    background-color: green;
    width: 300px;
    height: 50px;
    text-align: center;
}
p{
    color: white;
}
.red{
    border: 2px solid black;
    background-color: red;
    width: 300px;
    height: 50px;
    text-align: center;
}