<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>File Uploads</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for i in messages %}
                {% if i == "Your file has been sucessfully uploaded!" %}
                    <div class="green"><p>{{i}}</p></div>
                {% elif i == "Your file upload failed. Please try again." %}
                    <div class="red"><p>{{i}}</p></div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>